<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a href="/about">我想加入GSF！</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://www.youtube.com/@gsf698">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/gsf_footballclub/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.douyin.com/user/MS4wLjABAAAAhkk_pKZ1TINK2omOGsbw_1LiarOpzuWdJwLD8OVZgX8UheCq2xPg1-HI2z8BiXKs">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://www.xiaohongshu.com/user/profile/61dfc801000000001000bfa6">
          <img style="height: 1em; vertical-align:middle;" src="/assets/xhs.svg"></img>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{% include i18n_field.html entity=site field="description" %}</p>
        <p>powered by<br/>  <a href="https://github.com/super-unprofessional-league/soccer-website-generator">Super Unprofessional League Website Generator</a></p>
      </div>

    </div>

  </div>

</footer>
