---
layout: default
---
<link rel="stylesheet" href="{{"/assets/css/knockout-bracket.css" | relative_url }}">

{% include season_tabs.html name=page.display_name description=page.description link=page.link %}
<div class="row">&nbsp;</div>

{% include champion.html winner=page.winner %}

{% include knockout_brackets.html knockouts=page.knockouts %}

{% if page.group_tables != nil %}

<h3>{% translate rank_stage %}</h3>

{% for group in page.group_tables %}
{% assign group_key = group[0] %}
{% assign group_table = group[1] %}
{% include team_table.html table=group_table group_name=group_key %}

{% for game in page.group_games[group_key] %}
{% assign gk = game[0] %}
{% assign g = game[1] %}
{% include game_lines.html game_key=gk game=g season_base_url="" %}
{% endfor %}
<br/>
<br/>
{% endfor %}


{% endif %}

{% if page.rules != nil %}
&nbsp;
<p style="font-size:12px;">{{page.rules | newline_to_br}}</p>
{% endif %}